@media (min-width: 1200px) {
  main {
    width: 1024px;
    margin: 0 auto;
  }
}

.teslamodels {
  margin: 10vh 10vw;
}

.col-lg-4 {
  text-align: center;
  margin: 0;
}

h3 {
  padding-top: 40px;
}
